<div class="flex flex-row h-screen">
    <div class="w-1/2 flex flex-col justify-center items-center">
        <span class="text-primary font-bold text-4xl mb-16">CONTÁCTANOS</span>
        <div class="flex flex-col justify-center items-center mb-10">
            <span class="text-xl font-bold text-gray-900">Teléfono</span>
            <span class="text-xl text-primary">+503 2250 5520</span>
        </div>
        <div class="flex flex-col justify-center items-center mb-10">
            <span class="text-xl font-bold text-gray-900">Correo electrónico</span>
            <span class="text-xl text-primary">info&#64;frijolazo.com.sv</span>
        </div>
        <div class="flex flex-col justify-center items-center">
            <span class="text-xl font-bold text-gray-900">Dirección</span>
            <span class="text-xl text-primary">Parque industrial San Andrés, Lourdes Colon carretera a Santa Ana</span>
        </div>
    </div>
    <div class="w-1/2 bg-secondary flex flex-row justify-center items-center">
        <img [src]="imgContacto" alt="imagen contacto">
    </div>
</div>