<div class="flex flex-row justify-center items-center">
    <div class="w-1/2 flex flex-row justify-center">
        <img [src]="imgLogo" alt="Logo frijolazo" class="">
    </div>
    <div class="w-1/2 flex flex-col items-center justify-center bg-primary h-screen text-white p-4">
        <p class="font-bold text-6xl mb-10">Nuestra Historia</p>
        <span class="text-2xl mt-5 text-justify">
            Desde 2024, compartimos con <br>
            nuestros clientes un nuevo sabor en la <br>
            mesa de cada hogar, con una versión <br>
            mejorada de frijoles molidos para <br>
            ofrecer una combinación de sabores <br>
            suavidad y nutrición.
        </span>
    </div>
</div>
