<div class="h-screen bg-primary flex flex-col justify-center items-center">
    <div class="w-full flex flex-row justify-center mb-16">
        <span class="font-bold text-4xl text-white">
            NUESTROS CLIENTES
        </span>
    </div>
    <div class="flex flex-row justify-center w-full px-8 mt-16 gap-9">
        <div class="w-1/3 text-white flex flex-col justify-center">
            <span class="font-bold text-5xl">&#8220;</span>
            <span class="font-bold text-3xl mb-5">ME ENCANTÓ FRIJOLAZO</span>
            <span class="text-xl">
                Estaba en el supermercado y quise probar la nueva marca de frijoles,
                me encantó frijolazo por sus auténticos sabores.
            </span>
            <span class="text-xl mt-8">- María Sánchez</span>
        </div>
        <div class="w-1/3 text-white flex flex-col justify-center">
            <span class="font-bold text-5xl">&#8220;</span>
            <span class="font-bold text-3xl mb-5">LO PROBÉ Y NO CAMBIARÉ</span>
            <span class="text-xl">
                Me recomendaron que probara la nueva marca de frijoles, 
                lo probé y no pienso cambiar, los consumire en mi hogar.
            </span>
            <span class="text-xl mt-8">- Isabela, Ardón</span>
        </div>
        <div class="w-1/3 text-white flex flex-col justify-center">
            <span class="font-bold text-5xl">&#8220;</span>
            <span class="font-bold text-3xl mb-5">NACIÓ PARA QUEDARSE</span>
            <span class="text-xl">
                La marca frijolazo nació para quedarse, 
                tienen buena presentación y su sabor característico que me gustó.
            </span>
            <span class="text-xl mt-8">- Juan, Escamilla</span>
        </div>
    </div>
</div>